[submodule "Vim/.vim/pack/mypackages/start/lightline.vim"]
	path = Vim/.vim/pack/mypackages/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "Vim/.vim/pack/mypackages/start/landscape.vim"]
	path = Vim/.vim/pack/mypackages/start/landscape.vim
	url = https://github.com/itchyny/landscape.vim
[submodule "Vim/.vim/pack/mypackages/start/indentLine"]
	path = Vim/.vim/pack/mypackages/start/indentLine
	url = git@github.com:Yggdroot/indentLine
[submodule "Vim/.vim/pack/mypackages/start/vim-devicons"]
	path = Vim/.vim/pack/mypackages/start/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons
